@charset "UTF-8";
/* ---- No se cual es la causa que cuando importo los archivos no me coge ningún estilo ---- */
/*
@import url(./base/_generales.scss);
@import url(./base/_variables.scss);
@import url(./components/_header.scss);
@import url(./components/_main.scss);
@import url(./components/_footer.scss);
@import url(./components/mediaquery.scss);
*/
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Ubuntu', sans-serif; }

/*---- INDEX ----*/
/*---- HEADER ----*/
header nav {
  background-color: #8bd6f6; }

.logoDev {
  width: 75px;
  height: 75px;
  margin-left: 25px;
  padding: 5px; }

/*---- PRESENTACIÓN DEL PORTFOLIO ----*/
.hero {
  width: 100%;
  height: 55vh;
  background-image: url("../img/desarrolloWeb.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 75px; }
  .hero div {
    width: 100%;
    text-align: center; }
    .hero div h1 {
      color: white;
      font-size: 50px;
      font-weight: 550;
      text-align: center;
      margin-bottom: 15px;
      margin-top: 125px; }
    .hero div p {
      color: white;
      text-align: center;
      font-size: 22px;
      font-weight: 300;
      margin-bottom: 30px; }
    .hero div a {
      text-decoration: none;
      background-color: #9cddf8;
      padding: 5px;
      color: black;
      border-radius: 5px;
      padding: 10px; }
      .hero div a:hover {
        background-color: #449c9c;
        color: white; }

/*---- BIOGRAFÍA ----*/
.biografiaPrincipal {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to bottom, white, rgba(158, 153, 153, 0.646));
  padding: 50px 30px; }
  .biografiaPrincipal img {
    height: 40%;
    width: 40%;
    margin-left: 15%;
    margin-right: 50px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px; }
  .biografiaPrincipal h2 {
    color: #2c2c2c;
    text-align: left;
    font-size: 40px;
    font-weight: 300;
    margin-right: 200px;
    margin-bottom: 20px; }
  .biografiaPrincipal p {
    font-size: 20px;
    font-weight: 100;
    margin-right: 200px; }

/*---- ÚLTIMOS PROYECTOS ----*/
.ultimosProyectos {
  width: 100%;
  height: 600px;
  padding: 30px;
  margin-bottom: 100px;
  background-image: linear-gradient(to top, white, rgba(158, 153, 153, 0.646)); }
  .ultimosProyectos h2 {
    color: #2c2c2c;
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 20px; }

.ultimosProyectosFlex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .ultimosProyectosFlex div {
    text-align: center;
    background-color: #d9d9d9;
    width: 450px;
    height: 475px;
    border: 1px solid #d9d9d9;
    margin-bottom: 20px;
    border-radius: 10px;
    margin-right: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; }
    .ultimosProyectosFlex div h3 {
      color: black;
      text-align: center;
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 20px; }
    .ultimosProyectosFlex div img {
      width: 450px;
      height: 350px;
      margin-bottom: 13px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      padding: 10px; }
    .ultimosProyectosFlex div a {
      text-decoration: none;
      background-color: #9cddf8;
      color: black;
      border-radius: 3px;
      padding: 7px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; }
      .ultimosProyectosFlex div a:hover {
        background-color: #449c9c;
        color: white; }

/*---- FOOTER ----*/
footer {
  background-color: #4c4c55;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px; }
  footer iframe {
    width: 300px;
    height: 80px;
    padding: 5px; }
  footer div a img {
    height: 35px;
    width: 35px;
    transition: 0.5s; }
    footer div a img:hover {
      transform: scale(1.2); }
  footer ul li {
    display: inline-block;
    margin: 15px; }
    footer ul li a {
      text-decoration: none;
      color: white;
      font-size: 15px;
      font-weight: 300; }
      footer ul li a:hover {
        color: #64bcf6; }

/*---- PROYECTOS ----*/
/*---- PROYECTOS CABECERA ----*/
.proyectosCabecera {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  background-color: white;
  border-bottom: solid black 1px;
  background-image: url(../img/portadaProyectos.jpeg); }
  .proyectosCabecera div {
    width: 100%;
    text-align: center; }
    .proyectosCabecera div h1 {
      color: #fff;
      font-size: 50px;
      font-weight: 550;
      text-align: center;
      margin-bottom: 15px;
      margin-top: 100px; }
    .proyectosCabecera div p {
      color: #fff;
      text-align: center;
      font-size: 22px;
      font-weight: 300;
      margin-bottom: 30px; }

/*---- LAST PROJECT ----*/
.lastProject {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, white, rgba(158, 153, 153, 0.646));
  height: 650px; }
  .lastProject img {
    height: 70%;
    width: 70%;
    margin-right: 50px;
    margin-left: 200px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; }
  .lastProject h2 {
    color: gray;
    text-align: left;
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 20px; }
  .lastProject p {
    font-size: 20px;
    font-weight: 100;
    width: 50%; }

/*---- FOTOGRAFÍA ----*/
/*---- FOTOGRAFÍA CABECERA ----*/
.fotografiaCabecera {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  background-color: white;
  margin-bottom: 50px;
  border-bottom: solid black 1px;
  background-image: url(../img/portadaProyectos.jpeg); }
  .fotografiaCabecera div {
    width: 100%;
    text-align: center; }
    .fotografiaCabecera div h1 {
      color: #fff;
      font-size: 50px;
      font-weight: 550;
      text-align: center;
      margin-bottom: 15px;
      margin-top: 100px; }
    .fotografiaCabecera div p {
      color: #fff;
      text-align: center;
      font-size: 22px;
      font-weight: 300;
      margin-bottom: 30px; }

/*---- GRID DE FOTOGRAFÍAS ----*/
.gridGaleria {
  width: 100%;
  margin-bottom: 75px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 400px;
  gap: 20px;
  padding: 30px; }
  .gridGaleria div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; }

.imagen1 {
  grid-column: span 2; }

.imagen5 {
  grid-column: span 2; }

.imagen9 {
  grid-column: span 2; }

.imagen10 {
  grid-column: span 2; }

/*---- CONTACTO ----*/
/*---- CONTACTO CABECERA ----*/
.contactoCabecera {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  background-color: white;
  margin-bottom: 50px;
  border-bottom: solid black 1px;
  background-image: url(../img/portadaProyectos.jpeg); }
  .contactoCabecera div {
    width: 100%;
    text-align: center; }
    .contactoCabecera div h1 {
      color: #fff;
      font-size: 50px;
      font-weight: 550;
      text-align: center;
      margin-bottom: 15px;
      margin-top: 100px; }
    .contactoCabecera div p {
      color: #fff;
      text-align: center;
      font-size: 22px;
      font-weight: 300;
      margin-bottom: 30px; }

/*---- SOBRE MI ----*/
/*---- SOBRE MI CABECERA ----*/
.sobremiCabecera {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  background-color: white;
  margin-bottom: 50px;
  border-bottom: solid black 1px;
  background-image: url(../img/portadaProyectos.jpeg); }
  .sobremiCabecera div {
    width: 100%;
    text-align: center; }
    .sobremiCabecera div h1 {
      color: #fff;
      font-size: 50px;
      font-weight: 550;
      text-align: center;
      margin-bottom: 15px;
      margin-top: 100px; }
    .sobremiCabecera div p {
      color: #fff;
      text-align: center;
      font-size: 22px;
      font-weight: 300;
      margin-bottom: 30px; }

.contenedorFormulario {
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 50px; }

/*---- MEDIAS QUERIES ----*/
@media screen and (max-width: 1455px) {
  .ultimosProyectos {
    width: 100%;
    height: 1050px;
    padding: 30px;
    margin-bottom: 100px;
    background-image: linear-gradient(to top, white, rgba(158, 153, 153, 0.646)); }
    .ultimosProyectos h2 {
      color: #2c2c2c;
      text-align: center;
      font-size: 40px;
      font-weight: 300;
      margin-bottom: 20px; }
  .ultimosProyectosFlex {
    display: flex;
    justify-content: center;
    align-items: center; } }

@media screen and (max-width: 1165px) {
  .biografiaPrincipal img {
    height: 40%;
    width: 40%;
    margin-left: 15%;
    margin-right: 50px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px; }
    .biografiaPrincipal img h2 {
      color: #2c2c2c;
      text-align: left;
      font-size: 40px;
      font-weight: 300;
      margin-right: 200px;
      margin-bottom: 20px; }
    .biografiaPrincipal img p {
      font-size: 20px;
      font-weight: 100;
      margin-right: 200px; } }

@media screen and (max-width: 1100px) {
  .biografiaPrincipal img {
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    background-image: linear-gradient(to bottom, white, rgba(158, 153, 153, 0.646));
    padding: 50px 30px; }
    .biografiaPrincipal img img {
      box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
      align-items: center;
      margin: 0px;
      margin-top: 40px;
      height: 50%;
      width: 50%; }
    .biografiaPrincipal img h2 {
      color: #2c2c2c;
      text-align: center;
      font-size: 40px;
      font-weight: 300;
      margin: 0px;
      margin-bottom: 20px; }
    .biografiaPrincipal img p {
      font-size: 20px;
      font-weight: 100;
      text-align: center;
      margin: 0px;
      margin-left: 25%;
      margin-right: 25%; } }

@media screen and (max-width: 990px) {
  .ultimosProyectos {
    width: 100%;
    height: 1550px;
    padding: 30px;
    margin-bottom: 100px;
    background-image: linear-gradient(to top, white, rgba(158, 153, 153, 0.646)); } }

@media screen and (max-width: 990px) {
  .biografiaPrincipal img {
    height: 60%;
    width: 60%; } }

@media screen and (max-width: 670px) {
  footer iframe {
    display: none; }
  .biografiaPrincipal img {
    height: 70%;
    width: 70%; } }
