@import "../base/_variables.scss";
@import "../base/maps";
@import "../base/extends";
@import "../base/mixins";
@import "../base/generales";

header{
    nav{
        background-color: #1C3879;
    }
}
.logoDev{
    width: 75px;
    height: 75px;
    margin-left: 25px;
    padding: 5px;
}