$color-blanco: white;
$color-celesteBoton: #9cddf8;
$color-celesteBotonHover: rgb(68, 156, 156);
$color-gradiente: white, rgba(158, 153, 153, 0.646);
$color-sombraFoto: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
$color-h2: rgb(44, 44, 44);
$color-header: #8bd6f6;
